:root{
    --dark-blue: #5356FF;
    --blue: #378CE7;
    --light-blue: #67C6E3;
    --white: white;
}

.container{
    border: 1px solid black;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-bottom: 20px;
    background-color: white;
}
input[name="title"]{
    font-size: 2rem;
    border: 1px solid rgb(169, 169, 169);
    padding: 5px;
    border-radius: 5px;
}
textarea[name="content"]{
    border: 1px solid rgb(169, 169, 169);
    padding: 5px;
    border-radius: 5px;
    width: 90%;
    font-size: 1rem;
    resize: none;
}
h1{
    background-color: var(--dark-blue);
    padding-left: 100%;
    padding-right: 100%;
    color: white;
}

